.tabWrapper {
    background: linear-gradient(80.42deg, rgba(0, 0, 0, 0.16) 25.25%, rgba(83, 84, 108, 0.16) 98.05%);
    padding: 40px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabInner {
    max-width: 1240px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px;
    background: linear-gradient(79.59deg, rgba(51, 51, 62, 0.16) 6.21%, rgba(83, 84, 108, 0.16) 98.02%);
    border-radius: 20px;
}

